html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { height: 100%; }

body { background: white; font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.out { height: 100%; min-width: 320px; min-height: 535px; }

.onleft { float: left; }

.onright { float: right; }

.overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 1; }

a { -webkit-tap-highlight-color: transparent; text-decoration: none; }

@font-face { font-family: Museo-300; src: url("fonts/Museo-300.eot"); src: url("fonts/Museo-300.eot?#iefix") format("embedded-opentype"), url("fonts/Museo-300.woff2") format("woff2"), url("fonts/Museo-300.woff") format("woff"), url("fonts/Museo-300.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Museo-500; src: url("fonts/Museo-500.eot"); src: url("fonts/Museo-500.eot?#iefix") format("embedded-opentype"), url("fonts/Museo-500.woff2") format("woff2"), url("fonts/Museo-500.woff") format("woff"), url("fonts/Museo-500.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ClearSans; src: url("fonts/ClearSans.eot"); src: url("fonts/ClearSans.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans.woff2") format("woff2"), url("fonts/ClearSans.woff") format("woff"), url("fonts/ClearSans.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ClearSans-Light; src: url("fonts/ClearSans-Light.eot"); src: url("fonts/ClearSans-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Light.woff2") format("woff2"), url("fonts/ClearSans-Light.woff") format("woff"), url("fonts/ClearSans-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.btn { height: 55px; padding: 0 35px; text-transform: uppercase; font-size: 16px; color: white; background: #8e85bf; box-sizing: border-box; border-radius: 3px; letter-spacing: 1.2px; -webkit-tap-highlight-color: transparent; font-family: "Museo-300", Georgia, serif; }
.btn:active { position: relative; top: 1px; }

.input { width: 100%; padding: 15px 10px; border-bottom: 1px solid #8a84bc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Museo-300", Georgia, serif; }

.icon { display: inline-block; vertical-align: middle; }

.search_ico { background: url('../img/icons-sd95f55336f.png') 0 -511px no-repeat; width: 42px; height: 42px; }

.cart_ico { background: url('../img/icons-sd95f55336f.png') 0 -136px no-repeat; width: 58px; height: 58px; }

.menu_ico { background: url('../img/icons-sd95f55336f.png') 0 -441px no-repeat; width: 41px; height: 25px; }

.menu_ico2 { background: url('../img/icons-sd95f55336f.png') 0 -476px no-repeat; width: 41px; height: 25px; }

.logo_ico { background: url('../img/icons-sd95f55336f.png') 0 -329px no-repeat; width: 41px; height: 46px; }

.logo_ico2 { background: url('../img/icons-sd95f55336f.png') 0 -385px no-repeat; width: 41px; height: 46px; }

.call_ico { background: url('../img/icons-sd95f55336f.png') 0 0 no-repeat; width: 58px; height: 58px; }

.call_ico2 { background: url('../img/icons-sd95f55336f.png') 0 -68px no-repeat; width: 58px; height: 58px; }

.close_ico { background: url('../img/icons-sd95f55336f.png') 0 -259px no-repeat; width: 30px; height: 30px; }

.trash_ico { background: url('../img/icons-sd95f55336f.png') 0 -563px no-repeat; width: 23px; height: 25px; }

.change_ico { background: url('../img/icons-sd95f55336f.png') 0 -204px no-repeat; width: 25px; height: 25px; }

.radio { display: block; position: relative; }
.radio input { position: absolute; left: 0; z-index: 2; opacity: 0; }
.radio input:checked + .radio__mode:after { display: block; }

.radio__mode { position: absolute; top: -3px; left: 0; width: 20px; height: 20px; border: 1px solid #bcbdc0; z-index: 1; }
.radio__mode:after { content: ""; display: none; position: absolute; top: 50%; left: 50%; width: 10px; height: 10px; margin: -5px 0 0 -5px; background: #8e85bf; z-index: 2; }

.check { position: relative; }
.check input { position: absolute; left: 0; z-index: 2; opacity: 0; }
.check input:checked + .check__mode { background: #8e85bf; border-color: #8e85bf; }
.check input:checked + .check__mode:after { display: block; }

.check__mode { position: absolute; top: -3px; left: 0; width: 20px; height: 20px; border: 1px solid #bcbdc0; z-index: 1; }
.check__mode:after { content: ""; display: none; position: absolute; top: 50%; left: 50%; margin: -5px 0 0 -5px; z-index: 2; background: url('../img/icons-sd95f55336f.png') 0 -239px no-repeat; width: 10px; height: 10px; }

.tbl { display: table; width: 100%; margin-bottom: 35px; }
.tbl .row { display: table-row; }
.tbl .cell { display: table-cell; padding: 2px 0; vertical-align: middle; }
.tbl .cell.txt-right { text-align: right; }

.table__span { display: inline-block; width: 95%; padding-bottom: 10px; border-bottom: 1px solid #8e85bf; }
.table .txt-up { text-transform: uppercase; }
.table .txt-right { text-align: right; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.index { padding: 20px; }
.index__ttl { margin-bottom: 5px; line-height: 1.4; }
.index__link { font-size: 14px; margin-bottom: 10px; }

.main { position: relative; height: 100%; background: url(../img/bg-main.jpg) top center no-repeat; background-size: cover; background-attachment: fixed; overflow: hidden; text-align: center; font-size: 0; }
.main:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main.another-bg { background: url(../img/bg-welcome.jpg) top center no-repeat; }
.main__in { display: inline-block; vertical-align: middle; box-sizing: border-box; }
.main__logo { display: block; margin-bottom: 60px; }
.main__txt { font-size: 17px; color: white; font-family: "Museo-300", Georgia, serif; }
.main__ttl { text-transform: uppercase; font-size: 35px; color: white; font-family: "Museo-300", Georgia, serif; }
.main__btn { margin-top: 65px; }
.main .main__wrap { width: 310px; margin-top: 35px; box-sizing: border-box; }
.main .main__wrap .input { margin-bottom: 12px; padding: 20px 15px; font-size: 16px; }
.main .main__wrap .input:-ms-input-placeholder { color: #bcbec0; letter-spacing: 1px; font-family: "ClearSans", Arial, sans-serif; }
.main .main__wrap .input:-moz-placeholder { color: #bcbec0; letter-spacing: 1px; font-family: "ClearSans", Arial, sans-serif; }
.main .main__wrap .input::-moz-placeholder { color: #bcbec0; letter-spacing: 1px; font-family: "ClearSans", Arial, sans-serif; }
.main .main__wrap .input::-webkit-input-placeholder { color: #bcbec0; letter-spacing: 1px; font-family: "ClearSans", Arial, sans-serif; }
.main .main__wrap .input::placeholder { color: #bcbec0; letter-spacing: 1px; font-family: "ClearSans", Arial, sans-serif; }
.main .main__wrap .btn { min-width: 310px; margin-top: 30px; }
.main .btn { display: block; margin: 0 auto 22px; min-width: 200px; }
@media only screen and (max-width: 1360px) { .main { min-height: 100%; height: auto; }
  .main__in { padding: 100px 5% 0; } }
@media only screen and (max-width: 480px) { .main__in { display: block; }
  .main .main__wrap { width: 100%; }
  .main .main__wrap .btn { width: 100%; }
  .main .btn { width: 100%; } }

.menu { position: fixed; left: -405px; top: 0; bottom: 0; width: 325px; text-align: center; background: #8e85bf; z-index: 2; -moz-transition: left 0.3s; -o-transition: left 0.3s; -webkit-transition: left 0.3s; transition: left 0.3s; }
.menu.is-open { left: 0; }
.menu__in { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding-top: 30px; }
.menu__list-in { position: relative; }
.menu__list { margin-top: 40px; }
.menu__list li:first-child { border-top: 1px solid white; }
.menu__sub { visibility: hidden; position: absolute; top: 0; left: 100%; background: white; opacity: 0; -moz-transition: opacity 0.3s, visibility 0.3s; -o-transition: opacity 0.3s, visibility 0.3s; -webkit-transition: opacity 0.3s, visibility 0.3s; transition: opacity 0.3s, visibility 0.3s; }
.menu__sub.is-opened { visibility: visible; opacity: 1; }
.menu__link { display: block; padding: 20px 0; text-transform: uppercase; font-size: 15px; color: white; letter-spacing: 1.2px; border-bottom: 1px solid white; font-family: "Museo-500", Georgia, serif; }
.menu__link:hover { background: white; color: #8e85bf; }
.menu__link-in { display: block; padding: 20px 25px; font-size: 15px; color: #8e85bf; border-bottom: 1px solid #8e85bf; white-space: nowrap; }
.menu__link-in:last-child { border-bottom: 0; }
.menu__close { position: absolute; display: none; top: 0; right: 0; padding: 15px; background: #f1f1f2; }
@media only screen and (max-width: 480px) { .menu { width: 100%; left: -100%; }
  .menu__in { overflow: auto; }
  .menu__close { display: block; }
  .menu__sub { position: static; opacity: 1; display: none; }
  .menu__sub.is-opened { display: block; } }

.call { margin: 34% 0 10%; color: white; text-align: center; }
.call__txt { margin-top: 23px; font-size: 16px; letter-spacing: 1.3px; font-family: "Museo-500", Georgia, serif; }

.close { position: absolute; top: 0; left: 100%; padding: 23px 25px; background: #f1f1f2; }
@media only screen and (max-width: 480px) { .close { display: none; } }

.nav { position: fixed; top: 0; bottom: 0; left: 0; width: 75px; text-align: center; background: white; z-index: 1; }
.nav.is-violet { background: #8e85bf; }
.nav__bottom { position: absolute; width: 100%; bottom: 25%; }
.nav__link { display: block; padding: 20px 0; }
.nav__link.cart { display: none; position: static; margin: 0; padding: 5px 10px; }
.nav .is-violet { background: #8e85bf; }
.nav .is-grey { background: #f1f1f2; }
@media only screen and (max-width: 1360px) { .nav { width: auto; bottom: auto; }
  .nav:after { *zoom: 1; }
  .nav:after:after { content: " "; display: table; clear: both; }
  .nav__top { float: left; }
  .nav__bottom { position: static; float: left; width: auto; }
  .nav__link { display: inline-block; padding: 5px 10px; }
  .nav .is-menu { padding: 21.5px 15px; margin-left: 0; } }
@media only screen and (max-width: 480px) { .nav { width: 100%; }
  .nav__link.cart { display: inline-block; } }

.cart { position: fixed; top: 50px; right: 0; padding: 15px 20px; background: #8e85bf; }
.cart__in { display: inline-block; padding-left: 20px; font-size: 15px; color: white; vertical-align: middle; font-family: "Museo-500", Georgia, serif; }
.cart .cart_ico { display: inline-block; }
@media only screen and (max-width: 1360px) { .cart { top: 0; padding: 3.5px 10px; }
  .cart__in { display: none; } }
@media only screen and (max-width: 480px) { .cart { display: none; } }

.search { position: fixed; right: -215px; bottom: 0; background: white; font-size: 0; -moz-transition: right 0.3s; -o-transition: right 0.3s; -webkit-transition: right 0.3s; transition: right 0.3s; }
.search.is-open { right: 0; }
.search__link { display: inline-block; padding: 22px 20.5px 20px 23px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.search__link.is-clicked { right: 100%; }
.search__input { display: inline-block; padding: 15px 30px 22px 0; }
.search .input { min-width: 185px; }
@media only screen and (max-width: 1360px) { .search__link { padding: 10px 15px 15px 20px; }
  .search__input { padding: 10px 30px 15px 0; } }

.forgotten { margin-top: 35px; text-align: center; text-transform: uppercase; font-size: 12px; }
.forgotten__link { display: block; margin-bottom: 20px; letter-spacing: 1.2px; color: white; font-family: "Museo-300", Georgia, serif; }

.inner { min-height: 100%; margin-bottom: -109px; }
.inner:after { content: ""; display: block; height: 109px; }

.content { margin: 0 auto; padding: 140px 20px 0; color: #a7a9ac; box-sizing: border-box; font-family: "Museo-300", Georgia, serif; }
.content.s-width { max-width: 1024px; }
.content.m-width { max-width: 1122px; font-size: 15px; font-family: "Museo-300", Georgia, serif; }
.content.l-width { max-width: 1184px; font-size: 16px; letter-spacing: 1.2px; }
.content__wrap { *zoom: 1; }
.content__wrap:after { content: " "; display: table; clear: both; }
.content__ttl { margin-bottom: 100px; color: #8e85bf; font-size: 60px; }
.content__img { width: 242px; height: 215px; text-align: center; font-size: 0; text-align: left; }
.content__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.content__img img { max-width: 242px; max-height: 230px; }
.content__bl { *zoom: 1; }
.content__bl:after { content: " "; display: table; clear: both; }
.content__bl .table { width: 240px; font-size: 13px; letter-spacing: 1.1px; }
.content__bl .table td { width: 50%; padding: 2px 0; }
.content__name { text-align: right; font-size: 17px; color: #8e85bf; }
.content__list { padding: 10px 0; text-align: right; font-size: 13px; }
.content__list.is-violet { color: #8e85bf; }
.content__list li { padding: 2px 0; letter-spacing: 1px; }
.content__btn { margin: 50px 0 40px; *zoom: 1; }
.content__btn:after { content: " "; display: table; clear: both; }
.content__btn .btn { display: block; min-width: 200px; }
.content__input { margin-right: 25px; font-size: 17px; text-transform: uppercase; color: #8e85bf; letter-spacing: 1.2px; }
.content__input .input { width: 115px; height: 50px; margin-left: 10px; padding: 0 15px; font-size: 17px; text-align: center; border: 1px solid #dedfe0; box-sizing: border-box; }
.content__info { margin-top: 45px; font-size: 16px; letter-spacing: 1.1px; }
.content__info .info__ttl { margin-bottom: 35px; font-size: 17px; color: #8e85bf; text-transform: uppercase; }
.content__info .info__txt { margin-bottom: 45px; }
.content__info .table { margin-bottom: 35px; border-collapse: collapse; letter-spacing: 0.5px; }
.content__info .table td { padding: 8.5px 15px; border: 1px solid #a7a9ac; }
.content__info .table td:first-child { width: 21%; color: #8e85bf; }
.content__item { *zoom: 1; }
.content__item:after { content: " "; display: table; clear: both; }
.content__item .mycart .table { font-size: 16px; text-align: left; }
.content__item .mycart .table tr { border-bottom: 1px solid #a7a9ac; }
.content__item .mycart .table tr:first-child { border-color: #8e85bf; }
.content__item .mycart .table tr:first-child td { padding: 5px 0 10px; }
.content__item .mycart .table td { padding: 30px 0; }
.content__item .mycart .table td.txt-right { padding-right: 0; }
.content .btn__wrap .btn:first-child { margin-bottom: 10px; }
@media only screen and (max-width: 768px) { .content__bl { float: none; }
  .content__bl .table { margin: 0 auto 40px; text-align: center; }
  .content__name, .content__list { text-align: center; }
  .content__ttl { text-align: center; font-size: 45px; margin-bottom: 50px; }
  .content__img { margin: 0 auto; text-align: center; }
  .content__input { float: none; margin-right: 0; text-align: center; }
  .content__info .table td { padding: 8.5px 5px; }
  .content__btn { margin-top: 35px; }
  .content__btn .btn { width: 230px; margin: 20px auto 0; }
  .content__item .mycart .table { font-size: 14px; }
  .content .btn__wrap { float: none; } }
@media only screen and (max-width: 600px) { .content__btn.in-cart .btn { float: none; margin: 0 auto 15px; } }

.steps { padding-bottom: 10px; border-bottom: 1px solid #8e85bf; font-size: 16px; *zoom: 1; }
.steps:after { content: " "; display: table; clear: both; }
.steps__ttl { text-transform: uppercase; color: #8e85bf; font-family: "Museo-300", Georgia, serif; }
.steps__item { font-family: "Museo-500", Georgia, serif; *zoom: 1; }
.steps__item:after { content: " "; display: table; clear: both; }
.steps__item li { float: left; color: #d1d3d4; }
.steps__item li:after { content: "\003e"; padding: 0 10px; }
.steps__item li:last-child:after { display: none; }
.steps__item li.is-active { color: #8e85bf; }
.steps__item li.is-active:after { color: #a7aaac; }
@media only screen and (max-width: 1000px) { .steps__ttl, .steps__item { float: none; }
  .steps__ttl { margin-bottom: 10px; } }
@media only screen and (max-width: 768px) { .steps { margin-top: 15px; } }
@media only screen and (max-width: 480px) { .steps__item li { float: none; } }

.details { position: relative; margin-top: 35px; *zoom: 1; }
.details:after { content: " "; display: table; clear: both; }
.details__add { position: absolute; right: 0; }
.details__add span { padding-bottom: 2px; border-bottom: 2px solid #8e85bf; }
.details__add.with-margin { margin-bottom: 25px; }
.details .is-violet { color: #8e85bf; }
@media only screen and (max-width: 1000px) { .details { font-size: 14px; } }
@media only screen and (max-width: 768px) { .details__add { position: static; display: block; margin-bottom: 20px; *zoom: 1; }
  .details__add:after { content: " "; display: table; clear: both; }
  .details .is-violet { padding-left: 17%; } }

.tbl__wrap { *zoom: 1; }
.tbl__wrap:after { content: " "; display: table; clear: both; }

.tbl.checkout { width: 50%; margin-top: 5px; }
.tbl.checkout.s-width { width: 25%; padding-right: 10%; }
.tbl.checkout.s-width:last-child { padding-right: 0; }
.tbl.checkout.m-width { width: 38%; }
.tbl.checkout.with-radio .cell p { padding-left: 33px; }
.tbl.checkout .cell { padding: 6px 0; vertical-align: top; }
.tbl.checkout .cell.m-pad { padding: 15px 0; }
.tbl.checkout .cell a { text-transform: uppercase; border-bottom: 2px solid #8e85bf; }
@media only screen and (max-width: 768px) { .tbl.checkout { width: 65%; float: none; min-width: 185px; margin: 5px auto 15px; font-size: 14px; }
  .tbl.checkout .cell { padding-right: 10px; }
  .tbl.checkout.with-radio { min-width: 250px; }
  .tbl.checkout.m-width { width: 65%; }
  .tbl.checkout.s-width { width: 65%; padding-right: 0; } }

.terms { margin: 40px 0; }
.terms label { display: block; margin-bottom: 10px; padding-left: 33px; }
@media only screen and (max-width: 768px) { .terms { font-size: 14px; } }

.total { display: table; width: 35%; margin-top: 10px; text-transform: uppercase; font-size: 15px; color: #8e85bf; letter-spacing: 1.1px; }
.total.is-checkout { min-width: 300px; text-transform: none; }
.total.is-checkout .cell:last-child { color: #a7aaac; }
.total.is-checkout .cell.txt-right { padding-right: 0; }
.total .row { display: table-row; }
.total .cell { display: table-cell; padding: 10px 0; }
.total .cell p { padding: 5px 0; }
.total .cell.txt-right { width: 57%; padding-right: 20%; text-align: right; }
.total .is-bold { font-family: "Museo-500", Georgia, serif; }
@media only screen and (max-width: 768px) { .total { min-width: 250px; float: none; font-size: 14px; margin: 30px auto 0; } }
@media only screen and (max-width: 480px) { .total.is-checkout .cell.txt-right { text-align: inherit; } }

.checkout__btn { margin: 20px 0 90px; padding-top: 40px; border-top: 1px solid #8e85bf; *zoom: 1; }
.checkout__btn:after { content: " "; display: table; clear: both; }
.checkout__btn .btn { min-width: 230px; }
@media only screen and (max-width: 600px) { .checkout__btn .btn { float: none; display: block; margin: 0 auto 15px; } }

.mycart__wrap { *zoom: 1; }
.mycart__wrap:after { content: " "; display: table; clear: both; }

.mycart { height: auto; overflow-x: auto; }
.mycart__ttl { margin-bottom: 30px; color: #8e85bf; text-transform: uppercase; font-family: "Museo-500", Georgia, serif; }
.mycart .table { width: 100%; min-width: 600px; letter-spacing: 1.1px; }
.mycart .table tr:first-child td { font-family: "Museo-500", Georgia, serif; }
.mycart .table td { width: 15%; padding: 20px 0; color: #8e85bf; }
.mycart .table td:first-child { width: 40%; }
.mycart .table td.txt-right { padding-right: 5%; }
.mycart .table .icon:first-child { margin-right: 5px; }
.mycart .jspVerticalBar { width: 0; }
@media only screen and (max-width: 768px) { .mycart { font-size: 13px; overflow: hidden; }
  .mycart .table td:first-child { width: 35%; } }
@media only screen and (max-width: 600px) { .mycart { max-width: 600px; } }

.footer { padding: 43px 100px; background: #8e85bf; font-size: 17px; color: white; letter-spacing: 1.1px; font-family: "ClearSans", Arial, sans-serif; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer__list { list-style-type: none; *zoom: 1; }
.footer__list:after { content: " "; display: table; clear: both; }
.footer__item:after { content: "."; display: inline-block; padding: 0 15px; }
.footer__item:last-child:after { display: none; }
.footer__item a { display: inline-block; font-size: 17px; color: white; font-family: "ClearSans-Light", Arial, sans-serif; }
@media only screen and (max-width: 1550px) { .footer { padding: 25px 100px 15px; }
  .footer__list { float: none; }
  .footer__copyright { margin-top: 40px; } }
@media only screen and (max-width: 768px) { .footer__item { float: none; text-align: center; }
  .footer__item:after { display: none; }
  .footer__item a { margin-bottom: 10px; }
  .footer__copyright { float: none; text-align: center; } }
